<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="oServer" value="ACER"/>
    <add key="oCompanyDB" value="ILB"/>
    <add key="oDbUserName" value="sa"/>
    <add key="oDbPassword" value="21436500"/>
  </appSettings>
    
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>